<!DOCTYPE html>
<html>
    <head>
      <title> Mongo Website </title>
    </head>
    <body>
        <form action="/results">
            <h2> Search by year </h2>
            <input type="text" name="year">
            <br><br><br>
            <h2> Search by genre </h2>
            <input type="text" name="genre">
            <br><br><br>
            <h2> Search for cast member</h2>
            <input type="text" name="cast">
            <br><br><br>
            <button type="submit"> Search </button>
        </form>
    </body>
</html>
